<!-- <h1 class="display-1">Happenstance</h1>
<h2 class="tagline">Happy discoveries wherever you go...</h3>

  <img src="/logo2.png" alt="Logo"> -->
<img src="/logo2.png" alt="Logo">

<!-- <% @pictures.each do |picture| %>
<%= image_tag picture.image.url(:medium)%>
<% picture.caption %>
<%end%> -->
<!-- <% @pictures.each do |picture| %>
  <div class="row">
    <%= link_to (image_tag picture.image.url(:medium)), picture_path(picture) %> <!-- we should take out picture path and figure out how to expand -->
    <!-- <p>
      <%= picture.caption %>
    </p>
  </div>


<% end %> -->

<!--
<li><a href="/neighborhood">Wynwood</a></li>
<li><a href="/brickell">Brickell</a></li>
<li><a href="/south_beach">SOBE</a></li>
<li><a href="/little_havana">Little Havana</a></li> -->

<div class="picture-wrapper row">
  <% @pictures.each do |picture| %>
    <div class="picture">
      <div class="picture-head">
        <div class="name">
        <p><%= time_ago_in_words(picture.created_at) %> ago </p>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag picture.image.url(:medium), class:'img-responsive'), picture_path(picture) %>
      </div>
      <p class="caption">
        <%= picture.caption %>
      </p>
    </div>
  <% end %>
</div>

<!-- Prev/Next Pages -->
<div id="link">
  <button type="button" class="btn btn-outline-info">
  <%= link_to 'Previous Page', page: @page - 1 %></button>
  <button type="button" class="btn btn-outline-info">
  <%= link_to 'Next Page', page: @page + 1 %></button>
</div>
