<!-- <h1 class="display-1">Happenstance</h1>
<h2 class="tagline">Happy discoveries wherever you go...</h3>

  <img src="/logo2.png" alt="Logo"> -->

  <section class="index parallax parallax-1">
    <div class="container">
      <!-- <img src="/logo2.png" alt="Logo"> -->
      <h1>Happenstance</h1>
    </div>
  </section>
  <section class="index parallax parallax-1">
    <div class="container">
  <h2>Happy discoveries wherever you go....</h2>
</div>
</section>



<head>
<script type="text/javascript">
var count = 0;
function countClicks() {
 count = count + 1;
    document.getElementById("p2").innerHTML = count;
}
</script>


<section class="index content">
  <div class="content">
<div id="bootstrap-overrides">
<div class="picture-wrapper row">
  <% @pictures.each do |picture| %>
    <div class="picture">
      <div class="picture-head">
        <div class="name">
        <p><%= time_ago_in_words(picture.created_at) %> ago </p>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag picture.image.url(:medium), class:'img-responsive'), picture_path(picture) %>
      </div>
      <p class="caption">
        <%= picture.caption %>
      </p>

      <section id="like-button">
        <p>
          <a id="heart" href="javascript:countClicks();"><img src="http://i1174.photobucket.com/albums/r615/arianakv/409001-200_zpsl4iralyh.png" alt="heart"></a>

          <div id="p2">0<div></p>
      </section>

    </div>
  <% end %>
</div>
</div>

<!-- Prev/Next Pages -->
<div id="link">
  <button type="button" class="btn btn-outline-info">
  <%= link_to 'Previous Page', page: @page - 1 %></button>
  <button type="button" class="btn btn-outline-info">
  <%= link_to 'Next Page', page: @page + 1 %></button>
</div>
</div>
</section>
